body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('MlykTVW.jpg') no-repeat center center;
    background-size: cover;
}

.rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.rain::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
    opacity: 0.5;
    animation: rain 0.5s linear infinite;
}

@keyframes rain {
    to {
        transform: translateY(100%);
    }
}

.ball {
    width: 50px;
    height: 50px;
    background-color: rgb(51, 255, 0) ;
    opacity: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: calc(100vh - 50px);
        left: 0;
    }
    50% {
        top: calc(100vh - 50px);
        left: calc(100vw - 50px);
    }
    75% {
        top: 0;
        left: calc(100vw - 50px);
    }
    100% {
        top: 0;
        left: 0;
    }
}